on property:vendor.post_boot.parsed=1
     # IRQ Tuning
     # IRQ 268: msm_drm -> CPU 6
     # IRQ 306: kgsl_3d0_irq -> CPU 4
     write /proc/irq/268/smp_affinity_list 6
     write /proc/irq/306/smp_affinity_list 4

     chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
     chmod 0660 /sys/class/drm/sde-crtc-0/measured_fps
 
     chown system system /sys/class/power_supply/battery/temp
     chmod 0660 /sys/class/power_supply/battery/temp
